html, body{
    height: 100% !important;
}
body{
    font-family: 'Lora', serif;
}
/*==================================================================INDEX PAGE CSS=====================================================================*/
/*===========NAVBAR CSS===========*/
.navbar{
    padding-bottom: 10px;
    background-color: white;
    font-weight: bold;
    font-size: 1.2em;
}
.navbar-default{
    border-bottom-color: lightgray !important;
    border-color: transparent;
    width: 84.6%;
    margin: auto;
}
.navbar-nav>li>a{
    margin-top: 30px;
    margin-bottom: 20px;
}
.navbar-default .navbar-nav>li>a{
    margin-left: 0px;
    padding: 5px;
}
.contactLink{
    margin-right: 0px;
}
.secondaryNav{
    margin-top: 33.4px;
}
.linkLists a{
    color: #777;
}
.linkLists a:hover{
    color: #444;
    text-decoration: none;
}
.linkLists span{
    margin-top: 0px;
}
.linkLists span:hover{
    cursor: pointer !important;
}
    /*-----------MODAL CSS----------*/
.modal-body{
    overflow-y: auto;
}
.modal-body h4{
    color: orangered;
    font-weight: bold;
    border-left: 4px solid orangered;
    padding: 10px;
}
.modalTableInfoSections{
    border-left: 2px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.modalTableInfoSections p{
    padding: 10px;
    border-top: 1px solid lightgray;
    margin-left: 3px;
}
/*==========CAROUSEL CSS==========*/
.carouselContainer{
    margin-top: 1%;
}
/*==========FOOTER CSS=========*/
footer{
    margin-top: 7.3%;
    border-top: lightgrey 1px solid;
    width: 85% !important;
    margin-left: 7.5%;
    padding: 2%;
}
footer h4{
    font-weight: bold;
    text-align: center;
}
.socialIconsHolder{
    text-align: center;
}
footer i{
    font-size: 2em !important;
    margin-top: 5px;
}

/*==================================================================ABOUT PAGE CSS========================================================================*/
.aboutSection{
    margin-top: 3%;
}

/*==================================================================PRODUCTS PAGE CSS=====================================================================*/
.productsContainerControls{
    text-align: center;
    margin: auto;
    padding: 15px;
}
/*---mixItUp css---*/
#productsContainer .mix{
    display: none;
}
#productsContainer{
    width: 100%;
    padding: 0px;
}
.mix img{
    width: 90%;
    margin-top: 30px;
}
.productPriceContainer{
    border: 1px solid lightgray;
    text-align: center;
    width: 90%;
    padding: 20px;
    margin-bottom: 0px !important;
    height: 180px !important;
}
.productPriceButtons{
    background-color: yellow !important;
    width: 100%;
    border-top: 1px solid lightgray;
}
.productPriceButtons i{
    font-size: 2.3em;
    color: orangered;
}
.addToCartDiv{
    padding: 10px;
    width: 50%;
    float: left;
    border-right: 1px solid lightgray;
}
.showDetailsCartDiv{
    padding: 10px;
    width: 50%;
    float: right;
}
.addToCartDiv :hover{
    cursor: pointer;
}
.showDetailsCartDiv :hover{
    cursor: pointer;
}
/*=====================================CONTACT PAGE CSS====================================*/
.contactDetails{
    margin-top: 2%;
}
.contactDetails i{
    margin-left: 5%;
    font-size: 1.5em;
    margin-top: 10px;
}
.contactDetails h4{
    margin-left: 14%;
}
/*======================================BLOG PAGE CSS======================================*/
.blogContainer{
    margin-top: 3%;
}
.blogImgContainer{
    margin-top: 1.5%;
}
.blogDescContainer span{
    color: #555;
    font-size: 13px;
}
.blogDescContainer p{
    margin-top: 7px;
}
/*===================================ENQUIRY PAGE CSS=======================================*/
.enquiryRightContainer{
    border: 1px solid lightgrey;
    padding-left: 0px;
    padding-right: 0px;
}
.enquriyForm{
    background-color: yellow;
    padding-left: 0px;
}
.formHeader{
    background-color: lightgrey;
    padding: 18px;
}
.formHeader i{
    margin-top: 8px;
    font-size: 1.5em;
    color: #5bc0de;
}
/*===============================RECIPES HOLDER PAGES CSS================================*/
.recipesDescDiv h3{
    margin-left: 0px;
    text-decoration: none!important;
}
.recipesDescDiv h3:hover{
    text-decoration: none!important;
}
.imageHolder{
    margin-top: 0px;
}
.readMoreLink span{
    margin-top: 40px !important;
}